.tweetingFeaturesIconDiv {
    /* padding-right: 15px; */
    min-height: 34px;
    min-width: 34px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
 }
 
 .tweetingFeaturesIconDiv:hover{
    background-color: rgb(29, 155, 240,0.1);
    border-radius: 50%;
 }
 
 .tweetingFeaturesIcon {
    width: 19px;
    height: 19px;
 }