.passwordChangeNote p span
{
    color: #1d9bf0;
    cursor: pointer;
}
.passwordChangeNote p span:hover
{
    text-decoration: underline;
}
.passwordChangeInput
{
    margin-top: 30px;
}
.confirmPassword
{
    margin-top: 25px;
}