.emptyChatOuter
{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
.emptyChatNoteOuter
{
    max-width: 380px;
    display: flex;
    justify-content: center;
    margin: 30px 0px;
}
.emptyChatNote
{
    padding: 0px 30px;
}
.emptyChatHeadingDiv
{
    margin-bottom: 8px;
}
.emptyChatHeading
{
    font-family: font4;
    margin: 0;
    color: rgb(15, 20, 25);
    font-size: 29px;
    line-height: 34px;
}
.chatNoteDiv
{
    margin-bottom: 27px;
}
.chatNote
{
    color: rgb(83, 100, 113);
    margin: 0;
    font-family: font1;
    font-size: 14px;
    line-height: 19px;
}
.newChatButton
{
    border-radius: 9999px;
    background-color: rgb(29, 155, 240);
    width: fit-content;
    padding: 0px 31px;
    height: 49px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}
.newChatButton:hover
{
    background-color: rgb(26, 140, 216);
}
.newChatButtonText
{
    margin: 0;
    font-family: font3;
    font-size: 16px;
    line-height: 19px;
    color: rgb(255, 255, 255);
}