.exploreTopContent
{
    margin-left: 15px;
    margin-right: 15px;
    margin-top: 12px;
}
.exploreTrendingTag
{
    margin-top: 11px;
    position: relative;
}
.indiaTrends
{
    font-size: 19px;
    font-family: font4;
    margin: 0;
}