.newMessageListOuter
{
    padding-top: 11px;
    padding-bottom: 11px;
    padding-left: 15px;
    padding-right: 15px;
    cursor: pointer;
}
.newMessageListOuter:hover
{
    background-color: rgb(247, 249, 249);
}
.newMessageDetails
{
    display: flex;
}
.newMessageDetailsImgDiv
{
    margin-right: 11px;
}
.newMessageDetailsImg
{
    width: 53px;    
    height: 53px;
    border-radius: 50%;
}
.newMessageDetailsName
{
    margin: 0;
    font-size: 14px;
    font-family: font3;
    line-height: 19px;
}
.newMessageDetailsnameOuter
{
    display: flex;
    margin-top: 1px;
}
.newMessageDetailsUsername
{
    margin: 0;
    color: rgb(83, 100, 113);
    font-size: 14px;
    font-family: font1;
}
