.verifiedEmptyConteinerOuter
{
    display: flex;
    justify-content: center;
    margin-top: 46px;
}
.verifiedEmptyConteiner
{
    max-width: 380px;
    padding: 0px 30px;
    width: 100%;
    box-sizing: border-box;
}
.verifiedEmptyConteinerImg
{
    width: 320px;
    height: 160px;
}
.verifiedEmptyConteinerHeading
{
    font-size: 29px;
    font-family: font4;
    margin: 0;
    margin-top: 30px;
}
.verifiedEmptyConteinerText
{
    font-size: 14px;
    font-family: font1;
    color: rgb(83, 100, 113);
    margin: 0;
    margin-top: 9px;
    line-height: 19px;
}
.learnMore
{
    font-size: 14px;
    font-family: font3;
    color: #0F1419;
    text-decoration: underline;
    cursor: pointer;
}