.tweetBoxTweetButton {
    background-color: rgb(29, 155, 240);
    height: 34px;
    display: flex;
    align-items: center;
    border-radius: 9999px;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 0px;
}
.tweetBoxTweetButton:hover
{
    background-color: rgb(26, 140, 216);
}
.tweetBoxTweetButton-1
{
   opacity: 0.5;
   pointer-events: none;
}
.tweetBoxTweetButtonText {
    font-size: 14px;
    color: #ffffff;
    font-family: font2;
    margin: 0;
    padding-left: 17px;
    padding-right: 17px;
 }