.followedMessageOuter
{
    padding: 11px 15px;
}
.followedMessage
{
    display: flex;
}
.followedavadharIcon
{
    padding-left: 18px;
    padding-right: 11px;
}
.followedPersonImg
{
    width: 30px;
    height: 30px;
    border-radius: 50%;
}
.followedPersonNameDiv
{
    display: flex;
    padding-top: 7px;
}
.followedPersonName
{
    margin: 0;
    font-size: 14px;
    font-family: font3;
    padding-right: 3px;
}
.personFollowed
{
    margin: 0;
    font-size: 14px;
    font-family: font1;
}